:root {
  --clr-gray-100: #f8f9fa;
  --clr-gray-200: #f1f3f5;
  --clr-gray-900: #212529;
  --clr--violet-100: #e5dbff;
  --clr--violet-600: #7950f2;
  --clr-violet-700: #7048e8;
  --clr-violet-900: #5f3dc4;
  --clr-lime-300: #c0eb75;
  --clr-lime-400: #c0eb75;
  --clr-cyan-300: #66d9e8;
  --clr-cyan-400: #3bc9db;
  --clr-grape-300: #e599f7;
  --clr-grape-400: #da77f2;
  --clr-grape-800: #9c36b5;
  --clr-pink-300: #faa2c1;
  --clr-pink-400: #f783ac;
  --clr-red-300: #ffa8a8;
  --clr-red-400: #ff8787;
  --clr-red-800: #e03131;
  --clr-red-900: #c92a2a;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}