.icon-box {
  padding: 10px 0 10px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #5e4e90;
  font-size: 18px;
}