.login-page {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 14rem);
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-card {
  width: 420px;
  padding: 20px 40px 20px 40px;
  align-items: center;
  justify-content: center;
  background-color: #fef031;
  overflow: hidden;

  .login-header {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 70px;
      height: auto;
      object-fit: contain;
    }
  }

  .input-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;

    .label {
      display: block;
      font-size: 15px;
      font-weight: 600;
      color: #212529;
    }

    .input-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 3px;
      border: 1.5px solid #525557;
      background-color: #fef031;
    }
  }

  .form-btn {
    width: 120px;
    align-self: flex-end;
    margin-top: 2rem;
  }

  .form-text {
    display: flex;
    gap: 0.4rem;
    margin-top: 2rem;
    font-weight: 600;

    span {
      a {
        color: #522ec1;
        font-weight: 700;
      }

    }
  }
}

.login-error {
  color: red;
  margin: 1rem 0;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);
}

input {
  width: 100%;
  display: block;
  font-size: 16px;
  color: #272626;
  padding: 12px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #fef031;
  background-clip: text;
}

::placeholder {
  color: #00000033;
  font-size: 14px;
}