.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem 0 2rem;
  height: 5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fef031;

  .logo {
    img {
      width: 70px;
      height: auto;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    }
  }

  h3 {
    color: #862e9c;
    margin-right: 4rem;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 1px #000,
      1px 1px 1px gray;
  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;


  }

  a {
    color: #2a146c;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-right: 4rem;
    text-transform: capitalize;

    &:hover {
      color: #6940b8;
    }

    img {
      width: 60px;
      height: auto;
    }
  }
}