.answer {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #c6e4fb;
  padding: 1rem 2rem;
  width: 90%;
  border-radius: 10px;
  margin-bottom: 0.5rem;

  &-text {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #020269;
    text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);
  }

  &-data-box {
    display: flex;
    flex-direction: column;

    .creating-date {
      font-size: 14px;
      font-weight: 500;
      font-style: italic;
      color: #178ef0;
      margin-bottom: 0.3rem;
    }

    .updating {
      font-size: 14px;
      font-weight: 500;
      font-style: italic;
      color: #049ab5;
      margin-bottom: 0.5rem;
    }
  }

  .answer-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



}