.btn {
  display: block;
  background: #7950f2;
  color: hsl(0, 0, 100);
  text-decoration: none;
  padding: 12px 14px;
  border-radius: 5px;
  position: relative;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  text-shadow: 0 2px 3px hsla(0, 0, 0, 0.2);
  letter-spacing: 1.1px;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 3px 0 hsla(0, 0, 0, 0), 0 3px 3px hsla(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  &:hover::after {
    background: hsla(0, 0, 0, 0.1);
  }
}