.styled-textarea {
  width: 90%;
  margin: 2rem 0;
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  border: unset;
  border-radius: 4px;
  outline-color: #ae96f8;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-clip: text;
}