.sidebar {
  width: 25%;
  height: 500px;
  color: #212529;
  background-color: red;
  padding: 1rem;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000,
    3px 3px 3px gray;
}