.users-box {
  flex: 1;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: violet;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;

  h3 {
    color: #862e9c;
    margin: 1rem;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-shadow: 1px 1px 1px #000,
      1px 1px 1px gray;
    text-transform: lowercase;
  }

  .user-info {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;



  }
}