.main {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main-page {
  min-height: 100vh;
  display: flex;
  margin: 0 auto;
  width: 1170px;
  background-color: #f8f8f8;



  .questions-box {
    flex: 4;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}